<!DOCTYPE html>
<html lang="en" ng-app="conexia">
<head>
    <meta charset="UTF-8">
    <title>La mejor cocina</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="style/css/uikit.min.css" rel="stylesheet">
    <link href="style/css/main.css" rel="stylesheet">

    <script src="style/js/angular.min.js"></script>
    <script src="style/js/moment.js"></script>
    <script src="style/js/uikit.min.js"></script>
    <script src="style/js/uikit-icons.min.js"></script>
    <script src="style/js/application.min.js"></script>
</head>
<body ng-controller="hacerorden">

<div class="container">

    <div class="logo">
        LA MEJOR COCINA
    </div>
    <div class="loading" ng-if="loading">
        <div uk-spinner="ratio: 3"></div>
    </div>
    <div uk-grid>
        <div class="uk-width-auto@m">
            <ul class="uk-tab-left" uk-tab="connect: #component-tab; animation: uk-animation-fade">
                <li><a href="#">Hacer orden</a></li>
                <li><a href="#">Facturacion meseros</a></li>
                <li><a href="#" ng-click="getTop()">Clientes que más han gastado</a></li>
            </ul>
        </div>
        <div class="uk-width-expand@m">
            <ul id="component-tab" class="uk-switcher">
                <li>
                    <form>
                        <h2>Hacer Orden</h2>
                        <h3>Cliente</h3>
                        <div>
                            <div class="uk-margin">
                                <input type="text" class="uk-input" ng-model="_cliente.nombre" placeholder="Nombre">
                            </div>
                            <div class="uk-margin">
                                <input type="text" class="uk-input" ng-model="_cliente.apellido1" placeholder="Apellido paterno">
                            </div>
                            <div class="uk-margin">
                                <input type="text" class="uk-input" ng-model="_cliente.apellido2" placeholder="Apellido materno">
                            </div>
                            <div class="uk-margin">
                                <input type="text" class="uk-input" ng-model="_cliente.observaciones" placeholder="Observaciones">
                            </div>
                        </div>
                        <hr>

                        <h3>Orden</h3>
                        <div class="uk-margin">
                            <label class="uk-form-label">Mesero</label>
                            <select class="uk-select" ng-model="_orden.camarero">
                                <option value="" hidden disabled selected>-- Mesero --</option>
                                <option ng-repeat="m in camareros" ng-value="m.id">{{m.nombre}} {{m.apellido1}} {{m.apellido2}}</option>
                            </select>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label">Mesa</label>
                            <select class="uk-select" ng-model="_orden.mesa">
                                <option value="" hidden disabled selected>-- Mesa --</option>
                                <option ng-repeat="m in mesas" ng-value="m.id">{{m.id}} ({{m.ubicacion}} - {{m.numMaxComensales}} puestos)</option>
                            </select>
                        </div>

                        <h4>Platos:</h4>
                        <div ng-repeat="plato in platos | orderBy:$index">
                            <div class="uk-margin" uk-grid>
                                <div>
                                    <input class="uk-input" type="text" ng-model="platos[$index]['plato']" placeholder="Plato">
                                </div>
                                <div>
                                    <input class="uk-input" type="number" ng-model="platos[$index]['importe']" ng-blur="sumar()" placeholder="Precio">
                                </div>
                                <div>
                                    <select class="uk-select" ng-model="platos[$index]['cocinero']">
                                        <option value="" hidden disabled selected>-- Cocinero --</option>
                                        <option ng-repeat="c in cocineros" ng-value="c.id">{{c.nombre}} {{c.apellido1}} {{c.apellido2}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="uk-button uk-button-default" ng-click="agregarPlato()"
                                uk-icon="icon: plus"></button>

                        <div class="uk-margin">Total: ${{sumatoria}} pesos</div>

                        <button ng-click="crearOrden()" class="uk-button uk-button-primary">Hacer pedido</button>
                    </form>
                </li>
                <li>
                    <h3>Meseros</h3>
                    <div class="uk-margin">
                        <label class="uk-form-label">Mes de facturacion (la fecha solo asumira mes y año)</label>
                        <input type="date" class="uk-input" ng-model="mes">
                    </div>
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Facturado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ca in _camareros">
                            <td>{{ca.camarero.nombre}} {{ca.camarero.apellido1}} {{ca.camarero.apellido2}}</td>
                            <td>${{ca.totalFacturado}}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h3>Top</h3>
                    <p>Clientes que han gastado $100000 o más</p>
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Gastado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ca in _tops">
                            <td>{{ca.cliente.nombre}} {{ca.cliente.apellido1}} {{ca.cliente.apellido2}}</td>
                            <td>${{ca.gastado}}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>