.container {
    margin: 3rem auto;
    width: 900px;
    position: relative;
}

.loading {
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}